* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Illustration55.jpg);
    background-size: cover;
    background-position: center;
}

/*sign in box*/
.container {
    min-width: 330px;
    width: 40vw;
    min-height: 410px;
    height: 50vh;
    background-color: rgba(187, 147, 235, 0.093);
    border: 2px rgb(226, 222, 231) solid;
    -webkit-backdrop-filter:blur(5px) ;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 1px 24px 3px rgba(15, 15, 19, 0.5)  ; 
	-webkit-box-shadow: 1px 24px 3px rgba(16, 16, 19, 0.5)  ; 
	-moz-box-shadow: 1px 24px 3px rgba(15, 16, 18, 0.5)  ; 
}

.login-form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

/*login word*/
.container h1 {
    font-size: 30px;
    text-align: center;
}

.input-box {
    position: relative;
    min-width: 20px;
    width: 100%;
    min-height: 20px;
    background-color:transparent ;
    display: flex;
    justify-content: center;
}

.input-box input{
    width: 80%;
    height: 8vh;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px;
    font-size: medium;
    color: white;
}

.input-box input::placeholder {
    color: rgb(153, 142, 171);

}

.input-box i {
    position: absolute;
    right: 20px;
}

.forgot-remember {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    min-width: 300px;
    width: 80%;
}

/*remember me and forgot password*/
.forgot-remember a{
    color: white;
    text-decoration: none;
}
.forgot-remember a:hover {
    text-decoration: underline;
    color: rgb(188, 138, 205);
}
.forgot-remember label input{
    accent-color: rgb(127, 125, 194);
}

/* login button*/
.button {
    width: 80%;
    height: 45px;
    background-color: rgb(115, 55, 204);
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)  ; 
    cursor: pointer;
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* register link*/
.register-link {
    font-size: 15px;
    text-align: center;
}
.register-link p a {
    font-weight: 500;
    color: white;
}
.register-link p a:hover {
    text-decoration: underline;
    color: rgb(188, 138, 205);
}